@media only screen and (max-width: 450px) {
    .hide_sidebar{
        display: none;
    }
    .sidebar{
        left: -300px;
    }
    .sec_main{
        width: 100%;
        border: none;
    }
    #sec_main{
        width: 100%;
        border: none;
    }
    .main-container{
        border: 1px solid black;
    }
    .imgOpcoes{
        width: 43vw;
        height: 160px;
    }
    .div_cart{
        right: 10px;
    }
    .sidebar.open {
        left: 0; /* Entra na tela */
    }
    .dishe_open{
        left: 75px;
        width: 250px;
        height: auto;
    }
}