body{
    position: relative;
}
.abrir_comanda{
    position: absolute;
    top: 40%;
    border: 1px solid black;
    height: 30%;
    width: 20%;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    font-size: 25px;
}
.escondido {
    display: none;
}
.abrir_comanda form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: 1px solid black;
}
.input_criar{
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: orange;
}
.input_criar:hover{
    background-color: rgb(184, 121, 4);
}
.main_sec{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    border: 1px solid black;
}
.sec_pedidos{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    padding: 20px;
    align-items: center;
    overflow: scroll;
}
.sec_comandas{
    border: 1px solid black;
    width: 50%;
    overflow: scroll;
    gap: 10px;
}
.sec_actions{
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.sec_actions button{
    height: 8%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: orange;
}
.sec_actions button:hover{
    background-color: rgb(194, 127, 3);
}
.title_UltPedidos{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}
.title_Comandas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}
.list_UltPedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid black;*/
    width: 80%;
    font-size: 25px;
    gap: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px;
    cursor: pointer;
    
}
.topo_pedido{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid black;
    width: 90%;
    font-size: 30px;

}
.valor_total{
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    justify-content: end;
}
.bottom_pedido{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    /*border: 1px solid black;*/
    width: 90%;
    justify-content: space-between;
}
.list_pedido{
    /*border: 1px solid black;*/
    width: 90%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}
.table_pedido{
    border: 1px solid black;
    width: 100%;
}


.sec_comandas{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    overflow: scroll;
}
.div_comanda{
    display: flex;
    flex-direction: column;
    width: 70%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px;
    background-color: rgb(224, 196, 159);
    cursor: pointer;
    border-radius: 20px;
    gap: 10px;
}
.div_top_comanda{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.div_list_pedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.tbl_Comanda{
    border: 1px solid black;
    width: 100%;
}
.linha{
    border: none;
  height: 2px;
  background-color: black; /* Cor azul */
  width: 90%; /* Largura de 80% do container */
  margin: 20px auto; /* Centraliza horizontalmente */
}
.total_comanda{
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
    justify-content: end;
    gap: 10px;
}
.bottom_comanda{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.btn_actions{
    display: flex;
    justify-content: end;
}
.btn_fechar{
    border: none;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(123, 248, 123);
}
.btn_fechar:hover{
    background-color: rgb(94, 240, 94);
}
#btn_actions{
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
}